<HTML>
<HEAD>
<title>title_string</title>
</head>
<html>

<h2>header_string</h2>

<table width="1024px">
<tr>
    <th colspan="4" align="center">Center slices</th>
</tr>
<tr>
    <td colspan="4" align="center">
        <img src="./a3.png">&emsp;
        <img src="./s3.png">&emsp;
        <img src="./s3.png">
    </td>
</tr>
<tr>
    <th align="center">Axial -20%</th>
    <th align="center">Axial -10%</th>
    <th align="center">Axial +10%</th>
    <th align="center">Axial +20%</th>
</tr>
<tr>
    <td align="center"><img src="./a1.png"></td>
    <td align="center"><img src="./a2.png"></td>
    <td align="center"><img src="./a4.png"></td>
    <td align="center"><img src="./a5.png"></td>
</tr>
<tr>
    <th align="center">Coronal -20%</th>
    <th align="center">Coronal -10%</th>
    <th align="center">Coronal +10%</th>
    <th align="center">Coronal +20%</th>
</tr>
<tr>
    <td align="center"><img src="./c1.png"></td>
    <td align="center"><img src="./c2.png"></td>
    <td align="center"><img src="./c4.png"></td>
    <td align="center"><img src="./c5.png"></td>
</tr>
<tr>
    <th align="center">Sagittal -20%</th>
    <th align="center">Sagittal -10%</th>
    <th align="center">Sagittal +10%</th>
    <th align="center">Sagittal +20%</th>
</tr>
<tr>
    <td align="center"><img src="./s1.png"></td>
    <td align="center"><img src="./s2.png"></td>
    <td align="center"><img src="./s4.png"></td>
    <td align="center"><img src="./s5.png"></td>
</tr>
</table>
</html>

