<HTML>
<HEAD>
<title>Slices for Subject {sub_num:03d}</title>
</head>
<html>

<h2>Anatomical slices for Subject {sub_num:03d}</h2>

<table width="1024px">
<tr>
    <th colspan="4" align="center">Center slices</th>
</tr>
<tr>
    <td colspan="4" align="center">
        <img src="{anatomy}/a3.png">&emsp;
        <img src="{anatomy}/s3.png">&emsp;
        <img src="{anatomy}/s3.png">
    </td>
</tr>
<tr>
    <th align="center">Axial -20%</th>
    <th align="center">Axial -10%</th>
    <th align="center">Axial +10%</th>
    <th align="center">Axial +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anatomy}/a1.png"></td>
    <td align="center"><img src="{anatomy}/a2.png"></td>
    <td align="center"><img src="{anatomy}/a4.png"></td>
    <td align="center"><img src="{anatomy}/a5.png"></td>
</tr>
<tr>
    <th align="center">Coronal -20%</th>
    <th align="center">Coronal -10%</th>
    <th align="center">Coronal +10%</th>
    <th align="center">Coronal +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anatomy}/c1.png"></td>
    <td align="center"><img src="{anatomy}/c2.png"></td>
    <td align="center"><img src="{anatomy}/c4.png"></td>
    <td align="center"><img src="{anatomy}/c5.png"></td>
</tr>
<tr>
    <th align="center">Sagittal -20%</th>
    <th align="center">Sagittal -10%</th>
    <th align="center">Sagittal +10%</th>
    <th align="center">Sagittal +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anatomy}/s1.png"></td>
    <td align="center"><img src="{anatomy}/s2.png"></td>
    <td align="center"><img src="{anatomy}/s4.png"></td>
    <td align="center"><img src="{anatomy}/s5.png"></td>
</tr>
</table>
</html>

